<mat-card>
    <mat-card>
        <div class="example-container">
            <div [ngStyle]="{'float': 'left', 'width': '49%'}">
                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Equipamento</mat-label>
                    <mat-select [(ngModel)]="equipamentoSelect" (ngModelChange)="tipoEquipamentoFilter()">
                        <mat-option value=''>Selecione</mat-option>
                        <mat-option *ngFor="let equip of equipaments" value={{equip.Descricao}}>
                            {{equip.Descricao}}
                        </mat-option>
                        
                    </mat-select>
                </mat-form-field>
                <div [ngStyle]="{'display': 'block', 'width': '100%'}"></div>
                <mat-form-field appearance="fill">
                    <mat-label>Status da Máquina</mat-label>
                    <mat-select [(ngModel)]="statusSelect" (ngModelChange)="statusMaquinaFilter()">
                        <mat-option value=''>Selecione</mat-option>
                        <mat-option *ngFor="let stats of statusMaqs" [value]="stats">
                            {{status[stats]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div [ngStyle]="{'display': 'block', 'width': '100%'}"></div>
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Selecione o Setor</mat-label>
                    <mat-select [(ngModel)]="setorSelect" (ngModelChange)="setorFilter()">
                        <mat-option value=''>Selecione</mat-option>
                        <mat-option *ngFor="let setor of setoress" value={{setor.Setor}}>
                            {{setor.Setor}}
                        </mat-option>
        
                    </mat-select>
                </mat-form-field> -->
            </div>
            <div [ngStyle]="{'float': 'right', 'width': '49%'}">
                <mat-form-field appearance="fill">
                    <mat-label>Criticidade da Máquina</mat-label>
                    <mat-select [(ngModel)]="critSelect" (ngModelChange)="critFilter()">
                        <mat-option value=''>Selecione</mat-option>
                        <mat-option *ngFor="let crit of crits" [value]="crit">
                            {{criticidade[crit]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div [ngStyle]="{'display': 'block', 'width': '100%'}"></div>
                <mat-form-field appearance="fill">
                    <mat-label>TAG Equipamento</mat-label>
                    <mat-select [(ngModel)]="tagsSelect" (ngModelChange)="tagFilter()">
                        <mat-option value=''>Selecione</mat-option>
                        <mat-option *ngFor="let tag of tags" value={{tag.Tag}}>
                            {{tag.Tag}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field appearance="standard">
                <mat-label>Pesquisar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
    
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let equip"> {{equip.Id}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Equipamento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipamento </th>
                    <td mat-cell *matCellDef="let equip"><button mat-raised-button color="primary">{{equip.Descricao}}</button></td>
                </ng-container>

                <ng-container matColumnDef="Tag Equipamento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tag Equipamento </th>
                    <td mat-cell *matCellDef="let equip">{{equip.Tag}}</td>
                </ng-container>

                <ng-container matColumnDef="Status do Equipamento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Equipamento </th>
                    <td mat-cell *matCellDef="let equip">
                        <mat-slide-toggle [(ngModel)]="equip.Status">
                            <p *ngIf="equip.Status == true; else nameInativo"> Ativo</p>
                            <ng-template #nameInativo><p> Inativo</p></ng-template>
                        </mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Dia da Aquisição">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dia da Aquisição </th>
                    <td mat-cell *matCellDef="let equip">{{equip.dataEntrada | date: "dd/MM/yyyy"}}</td>
                </ng-container>

                <!-- <ng-container matColumnDef="Setor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Setor </th>
                    <td mat-cell *matCellDef="let equip">{{equip.Setor}}</td>
                </ng-container> -->

                <ng-container matColumnDef="Criticidade">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Criticidade </th>
                    <td mat-cell *matCellDef="let equip">
                        <div *ngIf="equip.CriticidadeDesc == 'Alta'; else otherTwoCrit">
                            <button mat-raised-button color="warn">{{equip.CriticidadeDesc}}</button>
                        </div>
                        <ng-template #otherTwoCrit>
                            <div *ngIf="equip.CriticidadeDesc == 'Média'; else otherCrit">
                                <button mat-raised-button color="accent">{{equip.CriticidadeDesc}}</button>
                            </div>
                            <ng-template #otherCrit><button mat-raised-button color="basic">{{equip.CriticidadeDesc}}</button></ng-template>
                        </ng-template>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="Ações">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
                    <td mat-cell *matCellDef="let equip">
                        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>add</mat-icon>
                      </button>
                        <button mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
                      <mat-icon>edit</mat-icon>
                    </button>
                        <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                      <mat-icon>delete</mat-icon>
                    </button>
    
                    </td>
                </ng-container>
     
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
        <div [ngStyle]="{'clear': 'both'}"></div>
    </mat-card>
</mat-card>
