<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Acessar</mat-card-title>
        </mat-card-header>
        <!-- <form class="example-form"> -->
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Usuario" [(ngModel)]="emailString"  >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Senha" type="password" [(ngModel)]="senhaString">
                </mat-form-field>
            </mat-card-content>
            <a button mat-stroked-button (click)="login()" color="primary" class="btn-block">Entrar</a>
            <br><a routerLink="/register" routerLinkActive="active">Não possui uma conta? Crie uma aqui!</a>
        <!-- </form> -->
    </mat-card>
    <router-outlet></router-outlet>
</div>
