<mat-card>
    <mat-card>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Peças</mat-label>
                <mat-select [(ngModel)]="pecaSelect" (ngModelChange)="pecaFilter()">
                    <mat-option value=''>Selecione</mat-option>
                    <mat-option *ngFor="let peca of pecas" value={{peca.Descricao}}>
                        {{peca.Descricao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Equipamento</mat-label>
                <mat-select [(ngModel)]="equipamentoSelect" (ngModelChange)="equipamentoFilter()">
                    <mat-option value=''>Selecione</mat-option>
                    <mat-option *ngFor="let equip of equipamentos" value={{equip.Equipamento}}>
                        {{equip.Equipamento}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <mat-form-field appearance="standard">
                <mat-label>Pesquisar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Peca">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Peça </th>
                    <td mat-cell *matCellDef="let equip"><button mat-raised-button color="primary">{{equip.Descricao}}</button></td>
                </ng-container>
                <!-- <ng-container matColumnDef="Equipamento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipamento </th>
                    <td mat-cell *matCellDef="let equip">{{equip.Equipamento}}</td>
                </ng-container> -->
                <ng-container matColumnDef="Quantidade">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
                    <td mat-cell *matCellDef="let equip">
                        {{equip.Quantidade}}
                        &nbsp;&nbsp;
                        <div [ngStyle]="{'display' : 'inline'}" *ngIf="equip.Quantidade < equip.QuantidadeMinima">
                            <mat-icon>report_problem</mat-icon>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="DataRecebimento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data do Último Recebimento </th>
                    <td mat-cell *matCellDef="let equip">{{equip.DataEntrada | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="DataSaida">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data da Última Saída </th>
                    <td mat-cell *matCellDef="let equip">{{equip.DataSaida | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="CustoMedio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Custo Médio </th>
                    <td mat-cell *matCellDef="let equip">R$ {{equip.Custo}}</td>
                </ng-container>
                <ng-container matColumnDef="Ações">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
                    <td mat-cell *matCellDef="let equip">
                        <button mat-mini-fab color="accent" (click)="openDialog(equip)" aria-label="Example icon button with a delete icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="openDialogDelete(equip)" aria-label="Example icon button with a delete icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
        
        <button mat-mini-fab color="primary" (click)="openDialogAdd()" [ngStyle]="{'margin' : '10px', 'margin-left' : '95%'}" aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card>
</mat-card>
