<h1 mat-dialog-title>Manutenção</h1>
<div mat-dialog-content>
    <div [ngStyle]="{'float': 'left', 'width': '49%'}">
        <div [ngStyle]="{'display': 'block', 'width': '100%'}"></div>
        <mat-form-field appearance="fill">
            <mat-label>Tipo de Manutenção</mat-label>
            <mat-select [(ngModel)]="data.Tipo">
                <mat-option value=''>Selecione</mat-option>
                <mat-option *ngFor="let manu of tipomanutencoes" value={{manu.Tipo}}>
                    {{manu.Tipo}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div [ngStyle]="{'display': 'block', 'width': '100%'}"></div>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Resumo da Manutenção</mat-label>
            <input matInput type="text" [(ngModel)]="data.Descricao">
        </mat-form-field>
        <div [ngStyle]="{'display': 'block', 'width': '100%'}"></div>
        <mat-form-field appearance="fill">
            <mat-label>Dia da Abertura</mat-label>
            <input matInput mask="d0/M0/0000" [(ngModel)]="data.Data">
        </mat-form-field>
    </div>
    <div [ngStyle]="{'float': 'right', 'width': '49%'}">
        <mat-form-field appearance="fill">
            <mat-label>Equipamento</mat-label>
            <mat-select [(ngModel)]="data.Equipamento">
                <mat-option value=''>Selecione</mat-option>
                <mat-option *ngFor="let manu of lists" value={{manu.Descricao}}>
                    {{manu.Descricao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div [ngStyle]="{'display': 'block', 'width': '100%'}"></div>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Responsável</mat-label>
            <input matInput type="text" [(ngModel)]="data.Funcionario">
        </mat-form-field>
    </div>
    <div [ngStyle]="{'clear': 'both'}"></div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()">Close</button>
    <button mat-raised-button [mat-dialog-close]="data" color="primary">Salvar</button>
</div>